body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
    height: 400px;
    width: 200px;
    background-color: rgb(46, 46, 159);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen-container {
    flex: 1;
    border: 1px solid black;
    background-color: rgb(67, 66, 66);
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 2px;
}

.screen {
    display: flex;
    justify-content: right;
    flex: 1;
    background-color: gray;
    border-radius: 5px;
}

.solar {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    /* justify-self: flex-start; */
    flex: 1;
    padding: 10px;
}

.solar div {
    background-color: rgb(44, 42, 42);
    border: 1px solid black;
    width: 20px;;
}

.btnContainer {
    flex: 9;
    border: 1px solid black;
    border-radius: 10px;
}
/* todo remove */
* {
    color:white;
}

